#page {
    background-repeat: repeat-x;
    background-image: url(Assets/stripes.png);
}

#main {
    vertical-align: top;
    margin-left: 100px;
}

#content {
    width: 500px;
    vertical-align: top;
    border-width: 3px;
    display:inline-block;
    font-size: 22px;
    font-weight: normal;
    color: #FFFFFF;
    font-family: helvetica, sans-serif;
    margin-top: 250px;
}

body {
    background: url("Assets/background.jpg");
    background-size: cover;
    background-position: tile;
}


hr {
    width: 30px;
    color: #ff0000;
    margin-left: 0px;
    line-height: 3px;
}